.PORTFOLIO {
    
}

.PORTFOLIO .proj {
    margin-top: 80px;
}


.BTN {
    
    background-color: #08d665!important;
    border: 1px solid #08d665!important;
    width: 75%;
    margin-left: 50px;

}

.BTN a {
    color: #fff;
    text-decoration: none!important;
}

.BTN:hover a {
    color: #fff;
}